/* 文字コードの指定
------------------------------------------------------------*/
@charset 'UTF-8';

/* Google Fonts用のCSSを読み込み
------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Abel';
html
{
    font-size: 62.5%; /* ベースとなるフォントサイズの定義 */
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.4rem; /* フォントサイズ */
    line-height: 1.6; /* 行間 */
    letter-spacing: .1em;　/* 文字間隔 */
    color: #4c4c4c; /* 文字色 */
    background-color: #fffafa; /* 背景色 */
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}


.flexible-images {
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

header {
  background-image: url("../images/img_background.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

a
{
    text-decoration: none;

    color: #14c0c9;
}
a:visited
{
    color: #0f949b;
}
a:hover
{
    color: #0f949b;
}
a:active
{
    color: #16d6e0;
}
a:hover
{
    text-decoration: underline;
}

.text-center
{
    text-align: center;
}

.block-center,
section .container,
#skills i
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 3.2rem;
}



#skills
{
    background-color: #1c9993;
}
#skills .container
{
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
}
#skills h2
{
    margin-bottom: 15px;
    color: #fffafa;
}
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px 30px;
    padding: 20px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fffafa;
}
#skills i
{
    font-size: 4.5rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #ff9999;
}
#skills h3
{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666666;
}



#contact ul
{
    margin-top: 5px;
    text-align: center;
}
#contact ul li
{
    font-size: 2.8rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
}
#contact ul li:last-child
{
    margin-right: 0;
}
#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;
}
#contact ul .github i
{
    margin-left: 2px;
}
#contact ul a
{
    display: block;
    width: 200px;
    height: 50px;
    color: #fff;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #ff9999;
}
#contact ul a:hover
{
    background-color: #666666;
}

#contact h2
{
    color: #666666;
}

footer
{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #a52a2a;
}

@media (max-width: 768px) {
header {
  background-image: url("../images/img_background.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.container {
    flex-direction: column;
    display: block;

    margin-right: auto;
    margin-left: auto;
}
}